---
import Header from '../components/Header.astro';
import Intro from '../components/Intro.astro';
import Investments from '../components/Investments.astro';
import Projects from '../components/Projects.astro';
import OpenSource from '../components/OpenSource.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div>
		<Header />
		
		<Intro />

		<hr class="section-divider" />

		<Investments />

		<Projects />

		<hr class="section-divider" />

		<OpenSource />
	</div>
</Layout>
