---
---

<div class="intro">
  <p>嗨！我是 23 歲的戴惟，從台灣到舊金山，一路走來都在嘗試解決問題，就不小心都在創業了。</p>
  <p>這個網站是我整理所有我所做過的事情的地方 —— 每一個專案、每一次投資、每一行程式碼，都是我這趟旅程的足跡。你會看到我如何從一個想法出發，一步步將它們變成現實。</p>
  <p>現在我專注在 AI 垂直領域應用，希望技術能真正的幫助到人們的生活。不只是追求技術的先進，更重要的是讓創新真正解決人們面臨的挑戰。</p>
  <p>歡迎跟著我的腳步，一起探索這段從台灣學生到矽谷創業者的旅程。</p>
</div>
